@use './library' as *;
@use './components' as *;


body {
    // padding: 0 10rem;
    
    width: 100%;
    height: 100vh;
    
    
    font-family: $fnt-main-regular;
    color: $clr-secondary;
    
    background-color: $clr-main;
    background-color: $clr-main;

    position: relative;
    top: 0;
    left: 0;
}



.showreel {

    width: 100%;
    height: 100vh;

    overflow: hidden;
    
    video{
        object-fit: cover;
        object-position: center top;
    }
}

.cases{
    height: 100vh;
    width: 100%;
}