@use '../library' as *;


.cases{
    width: 100%;
    height: min-content;
    
    display: flex;
    gap: 2rem;
    padding: 0 $padding-clamp;

    .case{
        flex-grow: 1;
        flex-basis: 100%;

        &__img{        
            overflow: hidden;
            height: 30rem;

            img,video{
                height: 100%;
                width: 100%;        
                object-fit: cover;
                object-position: center center;
                
                transform: scale(1.06);
                transition: transform 300ms ease-in-out;
            }
            @include min-mq ('laptop'){
                height: max(50rem);
            }
            @include min-mq ('laptop-L'){
                height: max(70rem);
            }
        }
        &__infos{
            padding: 1rem 2rem;

            h3{
                font-size: 1.8rem;
                font-family: $fnt-main-bold;
                text-transform: uppercase;

                @include min-mq ('laptop'){
                    font-size: 2rem;
                }
            }

            p{
                margin-top: 1rem;
                padding-right: 25%;
                
                font-size: 1.1rem;
                text-transform: uppercase;
                word-wrap: break-word;

                @include min-mq ('laptop'){
                    padding-right: 40%;
                    font-size: 1.3rem;
                }
            }
            @include min-mq ('laptop'){
                padding: 2rem 3rem;
            }
        }
        &:hover{

            img,video{
                transform: scale(1);
            }
            h3{
                text-decoration: underline;
            }
        }
    }
    
    @include max-mq ('tablet-M'){
        flex-direction: column;
    }
}