@use '../library' as *;



.header {

    width: 100%;
    height: 12.6rem;

    padding: 5rem 8rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    
    &_logo {
        justify-self: start;

        svg {     
            width: 16rem;
            height: 2.2rem;

            fill: $clr-white; 
        }       
    }

    &_nav, .icon_initiatives {
        display: none;
    }

    .menu{
        all: unset;
        cursor: pointer;
        justify-self: end;

       span{
            color: $clr-white;
            font-size: 1.6rem;
            font-family: $fnt-main-medium;
            text-transform: uppercase;
       }
      
    }
    
    @include mq ('small-laptop'){
        grid-template-columns: repeat(3, 1fr);

        &_nav, .icon_initiatives {
            display: inherit;
        }

        &_nav ul{
            display: flex;
            gap: 6rem;
            
            .btn-nav{
                color: $clr-white;
                font-size: 1.4rem;
                font-family: $fnt-main-medium;
                text-transform: uppercase;
                position: relative;
               
                transition: animation lineOUT 200ms ease-out;
                &:hover{
                    
                    &::after {
                        content:'';
                        position: absolute;
                        bottom: 0;
                        left: 0;
    
                        width: 100%;
                        height: .1rem;
                        background-color: $clr-white;

                        animation: lineIN 200ms ease-in-out;
                    }
                }

                &::after{
                    content:'';
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    width: 0%;
                    height: .1rem;
                    background-color: $clr-white;

                    animation: lineOUT 200ms ease-in-out;
                }
            }
        }
        .menu {

            span{
                display: none;
            }
            
            .icon_initiatives svg { 
                width: 2.2rem;
                height: 2.6rem;
    
                fill: $clr-white;
            }
        } 
    }
}


@keyframes lineIN {
    0%{
        width: 0;
    }
    100%{
        width: 100%
    }
}
@keyframes lineOUT {
    0%{
        width: 100%;
    }
    100%{
        width: 0%
    }
}