@use '../library' as *;


.header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12.6rem;
    padding: 5rem 8rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    
    &_logo {
        justify-self: start;

        svg {     
            width: 16rem;
            height: 2.2rem;
            fill: $clr-white; 
        }       
    }

    &_nav, .icon_initiatives {
        display: none;
    }

    .menu{
        all: unset;
        cursor: pointer;
        justify-self: end;

       span{
            color: $clr-white;
            font-size: 1.6rem;
            font-family: $fnt-main-medium;
            text-transform: uppercase;
       }
    }
    
    @include min-mq ('small-laptop'){
        grid-template-columns: repeat(3, 1fr);

        &_nav, .icon_initiatives {
            display: initial;
        }

        &_nav ul{
            display: flex;
            gap: 6rem;
            
            .btn-nav{
                color: $clr-white;
                font-size: 1.4rem;
                font-family: $fnt-main-medium;
                text-transform: uppercase;
                position: relative;
               
                &::after{
                    content:'';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    height: .1rem;

                    background-color: $clr-white;
                    transition: width 200ms ease-in-out;
                }

                &:hover::after {
                    left: 0;
                    width: 100%;
                }
            }
        }

        .menu {

            span{
                display: none;
            }
            
            .icon_initiatives svg { 
                width: 2.2rem;
                height: 2.6rem;
                
                fill: $clr-white;
                overflow: visible;

                circle{
                    transition:  transform 125ms ease-in-out;
                }
            }
            
            &:hover svg {
                
                :first-child{
                    transform: translateX(-.2rem);
                }
    
                :last-child{
                    transform: translateX(.2rem);
                }
            }
        } 
    }
}