@use '../library' as *;


.overview {
    width: 100%;
    height: 48rem;
    padding: 12rem 8rem;
    
    display: flex;
    gap: 2rem;
    
    color: $clr-secondary;
    .cell{
        width: 100%;
        height: 100%;
        
        &_left{
            
            .overview-content{
                font-size: 3.8rem;
                line-height: 1.1;
                letter-spacing: -0.035em;
                font-family: $fnt-main-medium;
            }

            .cta-toWork{
                margin-top: 4rem;
            }
        }

        &_right{
            
            svg{
                margin-left: calc(100% - $width-BD-logo );
                width: $width-BD-logo;
                fill: $clr-secondary;
            } 
        }
    }    

    @include max-mq ('small-laptop'){
        display: block;
        padding: clamp(3rem, 10%, 8rem) 7rem;
        height: fit-content;

        .cell_left{

            .overview-content{
                width: 55%;
                font-size: 2.2rem;
            }
        }

        .cell_right{
            margin-top: 8rem;
            
            svg{
                width: $width-BD-logo;
            }
        }
    }
}