@use '../library' as *;


.overview {
    width: 100%;
    height: fit-content;
    padding: clamp(3rem, 6%, 12rem) $padding-clamp;
    color: $clr-secondary;

    &__cell{
        width: 100%;
        height: 100%;
        
        &--left{
            
            .overview-content{
                font-size: 2.2rem;
                line-height: 1.1;
                letter-spacing: -0.035em;
                font-family: $fnt-main-medium;
                width: 100%;    
                
                @include min-mq ('mobile-L'){
                    width: 80%;
                }
                @include min-mq ('tablet'){
                    width: 55%;
                }
                @include min-mq ('laptop-M'){
                    width: 90%;
                    font-size: 3.8rem;
                }
            }

            .cta-toWork{
                margin-top: 4rem;
            }
        }

        &--right{
            margin-top: 8rem;
            
            svg{
                margin-left: calc(100% - $width-BD-logo-mobile );
                width: $width-BD-logo-mobile;
                fill: $clr-secondary;
                
                @include min-mq ('mobile-L'){
                    margin-left: calc(100% - $width-BD-logo );
                    width: $width-BD-logo;
                }
            } 

            @include min-mq ('laptop-M'){
                margin-top: 0;
            }
        }
    }    

    @include min-mq ('laptop-M'){
        width: 100%;
        height: 48rem;
        display: flex;
        gap: 2rem;
    }
}