@use '../library' as *;


.spotlight{
    width: 100%;
    height: fit-content;
    margin: 10vw 0;
    padding: 0 $padding-clamp;

    text-transform: uppercase;


    display: flex;
    justify-content: space-between;

    &__cell{
        flex-basis: 100%;
        height: 100%;
        
        &--left{
            position: sticky;
            top: 8rem;
            
            h3{
                font-size: 6.25vw;
                line-height: .9;
                letter-spacing: -0.05em; 
                font-family: $fnt-main-bold;

                .dot-wrap{
                    white-space: nowrap;

                    & :first-child {
                        padding-right: 0.15em;
                    }
                }
            }
            p{
                margin-top: 2.5rem;

                font-size: 2rem;
                line-height: 1.4;
                font-family: $fnt-main-regular

                span{
                    font-family: $fnt-main-bold;
                }
            }
            .cta-toAbout-us{
                margin-top: 8rem;
            }
        }

        &--right{
            
            
            video{
               object-fit: cover;
               object-position: center center;
            } 
        }
    }    
}