@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "SctoGroteskA-Regular";
  src: url("../fonts/SctoGroteskA-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SctoGroteskA-Medium";
  src: url("../fonts/SctoGroteskA-Medium.woff2");
}
@font-face {
  font-family: "SctoGroteskA-Bold";
  src: url("../fonts/SctoGroteskA-Bold.woff2");
}
html, body, a, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.header {
  width: 100%;
  height: 12.6rem;
  padding: 5rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.header_logo {
  justify-self: start;
}
.header_logo svg {
  width: 16rem;
  height: 2.2rem;
  fill: white;
}
.header_nav, .header .icon_initiatives {
  display: none;
}
.header .menu {
  all: unset;
  cursor: pointer;
  justify-self: end;
}
.header .menu span {
  color: white;
  font-size: 1.6rem;
  font-family: "SctoGroteskA-Medium", serif;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
  .header_nav, .header .icon_initiatives {
    display: inherit;
  }
  .header_nav ul {
    display: flex;
    gap: 6rem;
  }
  .header_nav ul .btn-nav {
    color: white;
    font-size: 1.4rem;
    font-family: "SctoGroteskA-Medium", serif;
    text-transform: uppercase;
    position: relative;
    transition: animation lineOUT 200ms ease-out;
  }
  .header_nav ul .btn-nav:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: white;
    animation: lineIN 200ms ease-in-out;
  }
  .header_nav ul .btn-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0.1rem;
    background-color: white;
    animation: lineOUT 200ms ease-in-out;
  }
  .header .menu span {
    display: none;
  }
  .header .menu .icon_initiatives svg {
    width: 2.2rem;
    height: 2.6rem;
    fill: white;
  }
}

@keyframes lineIN {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes lineOUT {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
body {
  width: 100%;
  height: 100vh;
  font-family: "SctoGroteskA-Regular", serif;
  color: #252422;
  background-color: #f4f4f4;
  background-color: #252422;
}

/*# sourceMappingURL=style.css.map */
