@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "SctoGroteskA-Regular";
  src: url("../fonts/SctoGroteskA-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SctoGroteskA-Medium";
  src: url("../fonts/SctoGroteskA-Medium.woff2");
}
@font-face {
  font-family: "SctoGroteskA-Bold";
  src: url("../fonts/SctoGroteskA-Bold.woff2");
}
html, body, a, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, button, input, select, td, th {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* now 1.5rem = 15px */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: clamp(1rem, 6%, 5rem) clamp(1rem, 6%, 8rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.header__logo {
  justify-self: start;
}
.header__logo svg {
  width: 16rem;
  height: 2.2rem;
  fill: white;
}
.header__nav, .header .icon__initiatives {
  display: none;
}
.header .menu {
  all: unset;
  cursor: pointer;
  justify-self: end;
}
.header .menu span {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
  .header__nav, .header .icon__initiatives {
    display: initial;
  }
  .header__nav ul {
    display: flex;
    gap: 6rem;
  }
  .header__nav ul .btn-nav {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
  }
  .header__nav ul .btn-nav::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.1rem;
    background-color: white;
    transition: width 200ms ease-in-out;
  }
  .header__nav ul .btn-nav:hover::after {
    left: 0;
    width: 100%;
  }
  .header .menu span {
    display: none;
  }
  .header .menu .icon__initiatives svg {
    width: 2.2rem;
    height: 2.6rem;
    fill: white;
    overflow: visible;
  }
  .header .menu .icon__initiatives svg circle {
    transition: transform 125ms ease-in-out;
  }
  .header .menu:hover svg :first-child {
    transform: translateX(-0.2rem);
  }
  .header .menu:hover svg :last-child {
    transform: translateX(0.2rem);
  }
}

.overview {
  width: 100%;
  height: fit-content;
  padding: clamp(3rem, 6%, 12rem) clamp(1rem, 6%, 8rem);
}
.overview__cell {
  width: 100%;
  height: 100%;
}
.overview__cell--left .overview-content {
  font-size: 2.2rem;
  line-height: 1.1;
  letter-spacing: -0.035em;
  width: 100%;
}
@media screen and (min-width: 425px) {
  .overview__cell--left .overview-content {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .overview__cell--left .overview-content {
    width: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .overview__cell--left .overview-content {
    width: 90%;
    font-size: 3.8rem;
  }
}
.overview__cell--left .cta-toWork {
  margin-top: 4rem;
}
.overview__cell--right {
  margin-top: 8rem;
}
.overview__cell--right svg {
  margin-left: calc(100% - clamp(24rem, 85%, 38rem));
  width: clamp(24rem, 85%, 38rem);
  fill: #252422;
}
@media screen and (min-width: 768px) {
  .overview__cell--right svg {
    margin-left: calc(100% - clamp(38rem, 85%, 45rem));
    width: clamp(38rem, 85%, 45rem);
  }
}
@media screen and (min-width: 1024px) {
  .overview__cell--right svg {
    margin-left: calc(100% - clamp(38rem, 85%, 70rem));
    width: clamp(38rem, 85%, 70rem);
  }
}
@media screen and (min-width: 1280px) {
  .overview__cell--right {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .overview {
    width: 100%;
    height: 48rem;
    display: flex;
    gap: 2rem;
  }
}

.cta {
  z-index: 3;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0.1rem 3rem;
  height: max-content;
  border: solid 0.1rem #252422;
  border-radius: 2rem;
  background-color: transparent;
  font-size: 1.1rem;
  line-height: 2.8rem;
  font-family: "SctoGroteskA-Bold", serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}
.cta::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252422;
  transition: top 270ms ease-in-out;
}
.cta:hover {
  color: #f4f4f4;
  border-color: rgba(37, 36, 34, 0);
}
.cta:hover a {
  z-index: 4;
  position: relative;
}
.cta:hover::after {
  top: 0;
}

.cases {
  width: 100%;
  height: min-content;
  display: flex;
  gap: 2rem;
  padding: 0 clamp(1rem, 6%, 8rem);
}
.cases .case {
  flex-grow: 1;
  flex-basis: 100%;
}
.cases .case__img {
  overflow: hidden;
  height: 30rem;
}
.cases .case__img img, .cases .case__img video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.06);
  transition: transform 300ms ease-in-out;
}
@media screen and (min-width: 1024px) {
  .cases .case__img {
    height: 50rem;
  }
}
@media screen and (min-width: 1440px) {
  .cases .case__img {
    height: 70rem;
  }
}
.cases .case__infos {
  padding: 1rem 2rem;
}
.cases .case__infos h3 {
  font-size: 1.8rem;
  font-family: "SctoGroteskA-Bold", serif;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .cases .case__infos h3 {
    font-size: 2rem;
  }
}
.cases .case__infos p {
  margin-top: 1rem;
  padding-right: 25%;
  font-size: 1.1rem;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media screen and (min-width: 1024px) {
  .cases .case__infos p {
    padding-right: 40%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .cases .case__infos {
    padding: 2rem 3rem;
  }
}
.cases .case:hover img, .cases .case:hover video {
  transform: scale(1);
}
.cases .case:hover h3 {
  text-decoration: underline;
}
@media screen and (max-width: 830px) {
  .cases {
    flex-direction: column;
  }
}

.clients {
  margin-top: 6rem;
}
.clients__line, .clients__meta, .clients__title {
  padding: 0 clamp(1rem, 6%, 8rem);
}
.clients__line {
  margin: 0 auto;
  width: calc(100% - clamp(1rem, 6%, 8rem) * 2);
  height: 0.1rem;
  background-color: #252422;
}
.clients__meta {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.14;
  text-transform: uppercase;
}
.clients__meta--left {
  flex-grow: 1;
}
.clients__meta--right {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .clients__meta {
    font-size: 1.4rem;
  }
}
.clients__title {
  padding-top: 5rem;
  width: 30%;
  font-size: 2.4rem;
  font-family: "SctoGroteskA-Bold", serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .clients__title {
    padding-top: 14rem;
    font-size: 4rem;
  }
}
.clients__slider {
  margin: 6rem 0;
}
.clients__slider__wrapper {
  overflow-x: scroll;
}
@media screen and (min-width: 1280px) {
  .clients__slider__wrapper {
    overflow: hidden;
  }
}
.clients__slider__wrapper__box {
  position: relative;
  top: 0;
  left: 0;
  width: max-content;
  height: fit-content;
  padding: 4rem clamp(1rem, 6%, 8rem);
  display: flex;
  gap: 6rem;
}
.clients__slider__wrapper__box .client {
  width: 25rem;
  height: fit-content;
}
.clients__slider__wrapper__box .client__logo {
  height: 4rem;
  width: 100%;
  position: relative;
}
.clients__slider__wrapper__box .client__logo img {
  height: 100%;
}
.clients__slider__wrapper__box .client__logo::after {
  content: "";
  position: absolute;
  top: 6rem;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #252422;
}
.clients__slider__wrapper__box .client__title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "SctoGroteskA-Bold", serif;
}
@media screen and (min-width: 1280px) {
  .clients__slider__wrapper__box .client__title {
    margin-top: 12rem;
  }
}
.clients__slider__wrapper__box .client__description {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
.clients__slider__wrapper__box .client__description a {
  text-decoration: underline;
}
@media screen and (min-width: 1280px) {
  .clients__slider__wrapper__box .client__description {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .clients__slider__wrapper__box .client {
    width: 32rem;
  }
}
@media screen and (min-width: 1280px) {
  .clients__slider__wrapper__box {
    gap: 12rem;
  }
}
.clients__slider__progress-bar {
  position: relative;
  margin: 0 auto;
  width: calc(100% - clamp(1rem, 6%, 8rem) * 2);
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: rgba(37, 36, 34, 0.2);
}
.clients__slider__progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: rgba(37, 36, 34, 0.6);
}
@media screen and (min-width: 1280px) {
  .clients__slider {
    margin: 14rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .clients {
    margin-top: 14rem;
  }
}

.spotlight {
  width: 100%;
  height: fit-content;
  margin: 10vw 0;
  padding: 0 clamp(1rem, 6%, 8rem);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.spotlight__cell {
  flex-basis: 100%;
  height: 100%;
}
.spotlight__cell--left {
  position: sticky;
  top: 8rem;
}
.spotlight__cell--left h3 {
  font-size: 6.25vw;
  line-height: 0.9;
  letter-spacing: -0.05em;
  font-family: "SctoGroteskA-Bold", serif;
}
.spotlight__cell--left h3 .dot-wrap {
  white-space: nowrap;
}
.spotlight__cell--left h3 .dot-wrap :first-child {
  padding-right: 0.15em;
}
.spotlight__cell--left p {
  margin-top: 2.5rem;
  font-size: 2rem;
  line-height: 1.4;
  font-family: "SctoGroteskA-Regular", serif;
}
.spotlight__cell--left p span {
  font-family: "SctoGroteskA-Bold", serif;
}
.spotlight__cell--left .cta-toAbout-us {
  margin-top: 8rem;
}
.spotlight__cell--right video {
  object-fit: cover;
  object-position: center center;
}
@media screen and (max-width: 768px) {
  .spotlight {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

.featured-news {
  margin-top: 24rem;
  padding: 0 clamp(1rem, 6%, 8rem);
}
.featured-news__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.featured-news__heading h2 {
  width: 30%;
  font-size: 2.4rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: "SctoGroteskA-Bold", serif;
}
@media screen and (min-width: 768px) {
  .featured-news__heading h2 {
    font-size: 4rem;
    width: 10%;
  }
}
.featured-news__news-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.featured-news__news-wrapper .new {
  border-top: 0.1rem solid #252422;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new__cell--left {
    min-width: 24vw;
    flex-shrink: 2;
  }
}
.featured-news__news-wrapper .new__cell--right {
  margin-top: 2rem;
  display: grid;
  gap: 5rem;
  grid-template-areas: "title title" "date arrow";
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new__cell--right {
    margin-top: 0;
    flex-shrink: 1;
  }
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new__cell {
    grid-template-areas: "title arrow" "date .";
    flex-basis: 100%;
  }
}
.featured-news__news-wrapper .new__img {
  overflow: hidden;
}
.featured-news__news-wrapper .new__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.06);
  transition: transform 300ms ease-in-out;
}
.featured-news__news-wrapper .new__title {
  grid-area: title;
  font-size: 2.4rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new__title {
    align-self: start;
    font-size: 4rem;
    font-size: clamp(2rem, 3vw, 4rem);
    min-width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .featured-news__news-wrapper .new__title {
    max-width: 70%;
  }
}
.featured-news__news-wrapper .new .arrow {
  height: clamp(2rem, 3vw, 3rem);
  aspect-ratio: 1/1;
  grid-area: arrow;
  align-self: center;
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new .arrow {
    align-self: start;
  }
}
.featured-news__news-wrapper .new__date {
  grid-area: date;
  align-self: center;
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: "SctoGroteskA-Bold", serif;
}
.featured-news__news-wrapper .new__date span {
  margin-left: 0.5rem;
  font-family: "SctoGroteskA-Regular", serif;
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new__date {
    font-size: 1.5rem;
    align-self: end;
  }
}
.featured-news__news-wrapper .new:hover img {
  transform: scale(1.0001);
}
.featured-news__news-wrapper .new:hover .new__title {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .featured-news__news-wrapper .new {
    display: flex;
    gap: 2rem;
    height: clamp(14rem, 20vw, 38rem);
    max-height: 38rem;
  }
}

html {
  background-color: #f4f4f4;
  color: #252422;
  font-family: "SctoGroteskA-Medium", serif;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.showreel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.showreel video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center top;
}

footer {
  height: 100vh;
  width: 100%;
}

.noise {
  pointer-events: none;
  width: calc(100vw + 20rem);
  height: calc(100vh + 20rem);
  position: fixed;
  left: -10rem;
  top: -10rem;
  background-position: 50%;
  background-image: url(../images/noise.png);
  animation: noise 1s steps(2) infinite;
}

@keyframes noise {
  0% {
    transform: translate(0, 9rem);
  }
  10% {
    transform: translate(-1rem, -4rem);
  }
  20% {
    transform: translate(-8rem, 2rem);
  }
  30% {
    transform: translate(9rem, -9rem);
  }
  40% {
    transform: translate(-2rem, 7rem);
  }
  50% {
    transform: translate(-9rem, -4rem);
  }
  60% {
    transform: translate(2rem, 6rem);
  }
  70% {
    transform: translate(7rem, -8rem);
  }
  80% {
    transform: translate(-9rem, 1rem);
  }
  90% {
    transform: translate(6rem, -5rem);
  }
  100% {
    transform: translate(-7rem, 0);
  }
}

/*# sourceMappingURL=style.css.map */
