// Cormorant Garamond serif
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
// Poppins sans-serif
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


// SctoGroteskA
@font-face {
    font-family: 'SctoGroteskA-Regular';
    src: url('../fonts/SctoGroteskA-Regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'SctoGroteskA-Medium';
    src: url('../fonts/SctoGroteskA-Medium.woff2'); 
}
@font-face {
    font-family: 'SctoGroteskA-Bold';
    src: url('../fonts/SctoGroteskA-Bold.woff2'); 
}
