//--------------------------------------------------------------------------------
//=================================| Responsive |=================================
//---------|>  !!ATTENTION!! ordre des includes du plus grand au plus petit  <|---------
//--------------------------------------------------------------------------------


// ---| tableau de breakpoint |---
$breakpoints: (
  mobile              :     1px * 720, 
  tablet              :     1px * 960, 
  small-laptop        :     1px * 1280, 
  laptop              :     1px * 1600,
  big-screen          :     1px * 1800,

);

// ---| la mixin desktop first |---
@mixin min-mq ($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) { @content; }        
}
  
// ---| la mixin mobile first|---
@mixin max-mq ($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) { @content; }        
}
  