//* ---------| Colors |---------
$clr-white              :  rgb(255,255,255);
$clr-off-white          :  rgb(244, 255, 254);
$clr-black              :  rgb(0,0,0);


$clr-main               :  rgb(244, 244, 244);
$clr-secondary          :  rgb(37, 36, 34);
$clr-accent             :  rgb(249, 205, 205);



//* ---------| fonts |---------
$fnt-size               :   1.5rem; 
$fnt-main-regular       :   'SctoGroteskA-Regular', serif;
$fnt-main-medium        :   'SctoGroteskA-Medium', serif;
$fnt-main-bold          :   'SctoGroteskA-Bold', serif;
$fnt-secondary          :   'Poppins', sans-serif;


//* ---------| width |---------
$width-BD-logo          :   clamp(38rem, 85% ,70rem);
$width-BD-logo-mobile   :   clamp(24rem, 85%, 38rem);